<a href="https://colab.research.google.com/github/tec03/ParaAssignment01-/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

Module 1

In [28]:
print("Hello\nWorld!")

Hello
World!

In [29]:
# print('Hello World!')

In [30]:
int(1.0)

1

In [31]:
bool(1)

True

In [32]:
Numbers = "0123456"
Numbers[::2]

'0246'

In [33]:
"0123456".find('1')

1

In [34]:
3 + 2 * 2

7

In [35]:
name = 'Lizz'
print(name[0:2])

Li

In [36]:
var = '01234567'
print(var[::2])

0246

In [37]:
'1'+'2'

'12'

In [38]:
myvar = 'hello'
myvar.upper()

'HELLO'

Module 2

In [39]:
A=(0,1,2,3)
A[-1]

3

In [40]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [41]:


S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [42]:


S={'A','B','C'}

U={'A','Z','C'}

In [43]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [44]:
D = {'a':0,'b':1,'c':2}
D['b']

1

In [45]:
A = ('a','b','c')
A[0]

'a'

In [46]:
 L = (('a','b'),'c')
 L.append(['a','b'])

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

Module 3

In [ ]:
i = 2
if(i!=0):
    print(True)

True

In [ ]:


x='a'

if(x!='a'):

    print("This is not a.")

else:

    print("This is a.")

This is a.

In [ ]:


A=[3,4,5]

for a in A:

    print(a)

3
4
5

In [ ]:


x=3

y=1

while(y!=x):

    print(y)

    y=y+1

1
2

In [ ]:


a=1

def add(b):

    return a+b

c=add(10)
c

11

In [ ]:


def f(*x):

    return sum(x)

In [ ]:


x=1

if(x!=1):

    print('Hello')

else:

    print('Hi')

    print('Mike')

Hi
Mike

In [ ]:


A = ['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [ ]:


def Delta(x):

    if x==0:
        y=1
    else:
        y=0

    return(y)
Delta(0)

1