Modulo 4 

    Reading files with open
    Writing files with open
    Loading data with Pandas
    Working with and Saving data with Pandas

In [4]:
import pandas

df = pandas.read_csv("ex4.csv")

Consider the dataframe df. How would you find the element in the second row and first column?

In [10]:
df

                   Day  ONE_DAY_PRECIPITATION
0   2020-06-01 0:00:00                    1.0
1   2020-06-02 0:00:00                    5.6
2   2020-06-03 0:00:00                    4.1
3   2020-06-04 0:00:00                    4.0
4   2020-06-05 0:00:00                    6.2
5   2020-06-06 0:00:00                    4.0
6   2020-06-07 0:00:00                    3.4
7   2020-06-08 0:00:00                    6.0
8   2020-06-09 0:00:00                    7.8
9   2020-06-10 0:00:00                    8.0
10  2020-06-11 0:00:00                    9.0
11  2020-06-12 0:00:00                    3.0
12  2020-06-13 0:00:00                    5.9
13  2020-06-14 0:00:00                    1.4
14  2020-06-15 0:00:00                    1.6
15  2020-06-16 0:00:00                    1.8
16  2020-06-17 0:00:00                    1.9
17  2020-06-18 0:00:00                    3.4
18  2020-06-19 0:00:00                    2.1
19  2020-06-20 0:00:00                    4.9
20  2020-06-21 0:00:00                    2.3
21  2020-06-22 0:00:00                    9.1
22  2020-06-23 0:00:00                    5.3
23  2020-06-24 0:00:00                    4.0
24  2020-06-25 0:00:00                    6.0
25  2020-06-26 0:00:00                    7.6
26  2020-06-27 0:00:00                    9.9
27  2020-06-28 0:00:00                    3.0
28  2020-06-29 0:00:00                    2.2
29  2020-06-30 0:00:00                    5.4
30  2020-07-01 0:00:00                    0.8

In [11]:
df.iloc[1,0]

'2020-06-02 0:00:00'

Will the following code run?

In [16]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

Consider the dataframe:

In [18]:
df=pandas.DataFrame({'a':[1,2,1],'b':[1,1,1]})

What type does the following return: df['a']==1 ?

In [19]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [20]:
df.to_csv("file.csv")

In [21]:
with open("Example1.txt","r") as file1:

    FileContent=file1.readlines()

    print(FileContent)

['Line 1\n', 'Line 2\n', 'Line 3']

In [22]:
with open("Example2.txt","w") as writefile:

    writefile.write("This is line A\n")

    writefile.write("This is line B\n")

In [23]:
with open("Example3.txt","a") as file1:

    file1.write("This is line C\n")